:root {
    --primary: #0d6efd;
    --dark: #111;
    --light: #f8f9fa;
    --text: #333;
    --radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text);
}

.navbar {
    transition: 0.3s;
}

.navbar-brand span {
    color: var(--primary);
}

#hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

#hero {
    background: linear-gradient(135deg, #0d6efd, #000);
    color: white;
}

.bento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.bento .card:nth-child(1) {
    grid-column: span 2;
}

.bento .card:nth-child(4) {
    grid-row: span 2;
}


#hero h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

#hero em {
    color: var(--primary);
    font-style: normal;
}

#hero p {
    font-size: 1.2rem;
}

section {
    padding: 60px 0;
}
.card {
    border: none;
    border-radius: var(--radius);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.btn {
    border-radius: 30px;
    padding: 10px 20px;
}
.carousel-item {
    min-height: 200px;
}

.carousel-item p {
    font-size: 1.2rem;
}

h1, h2, h3 {
    font-weight: bold;
}

footer {
    margin-top: 40px;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.badge {
    font-size: 0.8rem;
}

form input, form textarea, form select {
    border-radius: var(--radius);
}

iframe {
    border-radius: var(--radius);
}
/*rendre flexible*/
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2rem;
    }
}
/* pour tablette */
@media (max-width: 992px) {
    .bento {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* pour telephone */
@media (max-width: 768px) {

    #hero {
        height: auto;
        padding: 80px 20px;
    }

    #hero h1 {
        font-size: 1.8rem;
    }

    .bento {
        grid-template-columns: 1fr;
    }

    .navbar {
        text-align: center;
    }
}
#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    background: blue;
    color: white;
}
/*le bouton dark/light*/
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode section {
    background-color: #121212 !important;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode footer {
    background-color: black !important;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}